mixin colors(color)
  ul.colors__list
    each item in color
      li.colors__list-item
        .colors__item-box(style={opacity: item.opacity, background: item.hex})
        .colors__item-text 
          h2.colors__item-text__title= item.name
          h2.colors__item-text__desc= item.hex

mixin type(types)
  ul.types__list
    each item in types
      if item.title == 'Body'
        li.types__list-item
          .types__list-title__body(style={'font-size': item.size, 'line-height': item.height})= item.title
          .types__list-description.body(style={'font-size': item.size, 'line-height': item.height})= item.description
      else
        li.types__list-item
          #{item.title}.types__list-title(style={'font-size': item.size, 'line-height': item.height})= item.title
          #{item.title}.types__list-description(style={'font-size': item.size, 'line-height': item.height})= item.description